<% @rss.each do |i| %>
    <div class="well well-small">
      <h3><%= raw(i.name) %></h3>
      <h5><%= i.data %></h5>
      <p><%= raw(i.text) %></p>
      <a href="<%= i.Url %>" target="_blank">Читать</a>
    </div>
<% end %>