<% if @sources %>
    <div class="well well-small">
      <% @sources.each do |c| %>
          <%= link_to c.name, "/site/index/#{@id}/#{c.id}", class: "btn btn-mini btn-primary" ,:remote=>true%>
      <% end %>
    </div>
<% end %>