<div class="well well-small">
  <% @categories.each do |c| %>
      <%= link_to c.name, "/site/index/#{c.id}", class: "btn btn-info" , :remote=>true %>
  <% end %>
</div>
<div id="sources">
  <%= render 'sources'%>
</div>

<div id = "rss">
  <%= render 'rss'%>
</div>