<div class="span11 well">
  <% user_source = current_user.sources %>
  <%= form_tag '/site/profile', :method => :post do %>
      <%cache ("my_profile") do%>
          <% Category.all.each do |c| %>
              <div class="span4">
                <h3><input type="checkbox" id="<%= c.id %>" style="position: relative; top: -3px;" onclick="check_category(this)">&nbsp;<%= c.name %></h3>
                <% c.sources.each do |s| %>
                    <p><input type="checkbox" name="source_ids[<%= s.id %>]" class="<%= c.id %>" style="position: relative; top: -3px;" <%= user_source.exists?(s) ? 'checked' : '' %> >&nbsp;<%= s.name %></p>
                <% end %>
              </div>
          <% end %>
          </div>
      <%end%>
      <div class="span11 well" style="text-align: center" >
        <input type="submit" value="Сохранить" class="btn btn-primary">
      </div>
  <% end %>

  <script>
      function check_category(obj){
          id = obj.id;
          all = document.getElementsByClassName(id);
          for(var i=0; i<all.length; i++) {
              all[i].checked = obj.checked;
          }
      }
  </script>