<!DOCTYPE html>
<html>
<head>
  <title>NewsAgregator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="/bootstrap/themes/amelia/bootstrap.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body style="background: #00b0a5">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="<%= root_path %>">News</a>
      <div class="navbar-content">
        <ul class="nav" style="text-align: center">
          <form class="navbar-search pull-left" action="/site/index" method="get">
            <input class="search-query span4" placeholder="Поиск" type="text" name="query_str">
          </form>
        </ul>
        <ul class="nav pull-right">
          <li>
            <a href="/site/profile"><small>Лента</small></a>
          </li>
          <li>
            <a href="/user/edit"><small>Настройки</small></a>
          </li>
          <li>
            <%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container" style="position: relative; top: 70px;">
  <%= yield %>
</div>

</body>
</html>
